.d-block {
  display: block;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.width-200 {
  width: 200px;
}
