* {
  font-family: ABeeZee, Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

li {
  padding: auto;
  margin: auto;
}

.accordion-data {
  height: 20px;
  margin: 5px;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.browse-list-container {
  width: 100%;
  overflow: auto;
  max-height: 100%;
}

.continue-as-guest-button {
  background: none;
  border: none;
  margin-top: 0;
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  display: block;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.form-wallpaper {
  height: 100vh;
  width: 100vw;
  background-image: url('../public/log-in-background.jpeg');
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.hidden {
  display: none;
}

.logout-button {
  background: none;
  border: none;
  font-size: 20px;
  text-decoration: none;
  color: rgb(212, 60, 60);
  display: block;
  margin-top: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
  align-self: flex-start;
}

.main-wallpaper {
  height: 100vh;
  width: 100vw;
  background-image: url('../public/Garden-bg.jpeg');
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.nav-to-register-button {
  background: none;
  border: none;
  margin-top: 1rem;
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  display: block;
}

.plant-img {
  width: 130px;
  height: 130px;
  margin: 10px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px black;
}

.plant-wrapper {
  border: 1px solid black;
  margin: 10px;
  box-shadow: 0 0 5px black;
  border-radius: 0.5rem;
  background-color: rgb(255, 254, 254, 0.7);
  width: 95%;
  max-width: 400px;
}

.register-modal {
  width: 300px;
  height: 450px;
  background-color: rgb(173, 173, 173);
  border: 1px grey solid;
  border-radius: 0.7rem;
  opacity: 0.8;
  padding: 5px;
}

.sign-in-modal {
  width: 300px;
  background-color: rgb(173, 173, 173);
  border: 1px grey solid;
  border-radius: 0.7rem;
  opacity: 0.8;
  padding: 5px;
}

.react-attributes-test {
  color: rgb(112, 188, 112);
}
