.ai-flex-start {
  align-items: flex-start;
}

.as-flex-start {
  align-self: flex-start;
}

.col-20 {
  width: 20%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 700px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.height-150 {
  height: 150px;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.width-200 {
  width: 200px;
}

@media (width <= 600px) {
  .plant-grid {
    grid-template-columns: 1fr;
  }
}
